<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="login-container mb-3 p-3"> <!-- Added padding to the container -->
    <h2 class="mb-3">Log in</h2> <!-- Added margin-bottom to the heading -->

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs mb-3"> <!-- Added margin-bottom to the form inputs -->

          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      class: 'form-control mb-4 w-100' %>

          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" },
                      class: 'form-control mb-4 w-100' %>

          <%= f.input :remember_me, as: :boolean, if: devise_mapping.rememberable?,
                      label: "Remember me",
                      class: 'form-check-input' %>
      </div>

      <div class="form-actions">
        <%= button_tag(type: 'submit', class: 'btn btn-outline-dark btn-block') do %>
          Log in
        <% end %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
