<div>
  <div>
    <h1>
      List of all pdfs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new pdf
    </h2>

    <form action="/insert_pdf" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="url_box">
          Url
        </label>

        <input type="text" id="url_box" name="query_url">
      </div>

      <div>
        <label for="summary_box">
          Summary
        </label>

        <input type="text" id="summary_box" name="query_summary">
      </div>

      <button>
        Create pdf
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Url
        </th>

        <th>
          Summary
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_pdfs.each do |a_pdf| %>
      <tr>
        <td>
          <%= a_pdf.id %>
        </td>

        <td>
          <%= a_pdf.title %>
        </td>

        <td>
          <%= a_pdf.url %>
        </td>

        <td>
          <%= a_pdf.summary %>
        </td>

        <td>
          <%= time_ago_in_words(a_pdf.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_pdf.updated_at) %> ago
        </td>

        <td>
          <a href="/pdfs/<%= a_pdf.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
