<div class="container mt-4">

  <div class="d-flex justify-content-end">
    <a href="/start_new_summary" class="btn btn-outline-dark btn-lg">+ Add New Summary</a>
  </div>

  <div>
    <h1>My Library</h1>
  </div>

  <div>
    <div>
      <table class="table table-responsive">
        <tr>
          <th class="col-2">Tags</th>
          <th class="col-4">Title</th>
          <th class="col-3">URL</th>
          <th class="col-4">Summary</th>
          <th class="col-2">Updated at</th>
          <th class="col-2"></th>
        </tr>

      <% @list_of_pdfs.each do |a_pdf| %>
      <tr>
        <td>
          <% a_pdf.tags.each do |tag| %>
            <span class="btn btn-sm" style="cursor: default; color:white; background-color: <%= tag.color %>; margin-right: 5px;">
              <%= tag.name %>
            </span>
          <% end %>
        </td>
        <td><%= a_pdf.title %></td>
        <td><a href="<%= a_pdf.url %>">View PDF</a></td>
        <td><%= a_pdf.summary %></td>
        <td><%= time_ago_in_words(a_pdf.updated_at) %> ago</td>
        <td>
          <a href="/pdfs/<%= a_pdf.id %>">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>

    </div>
  </div>
</div>
