<div class="container mt-5">

  <div class="row">
   <!-- column for Enter URL Form and Summary Textbox -->
    <div class="col-md-7">
      <h1 class="mb-4">New summary</h1>

      <!-- Enter PDF URL Form -->
      <form action="/get_summary_from_url" method="post" id="pdfUrlForm" class="d-flex mb-3 align-items-center">
        <label for="url_box" class="me-2 flex-shrink-0">Enter PDF URL</label>
        <div class="col-sm-8 p-1">
          <input type="url" id="url_box" name="pdf_url" class="form-control form-control-sm flex-grow-1 me-2" placeholder="https://example.com" value="<%= @pdf_url %>">
        </div>
        <button type="submit" class="btn summary-button btn-sm">Get summary</button>
      </form>

      <!-- read-only text box for summary-->
      <% if @pdf_url.present? %>
        <div class="textarea-container">
          <textarea style="width: 100%; height:100%" id="summary_textbox" readonly name="summary_text">
            <%= @text_summary %>
          </textarea>
        </div>
      <% else %>
        <div class="textarea-container">
          <textarea style="width: 100%" id="summary_textbox" readonly name="summary_text" placeholder="Summary will be displayed here..."></textarea>
        </div>
      <% end %>
    </div>

  <div class="col-md-5">
    <div class="container h-100 d-flex align-items-center">
      <div class="row justify-content-center w-100">
        <!-- SAVE PDF + TAGS -->
        <div class="container text-center mt-3">
          <div class="row justify-content-center">
            <h4 class="mb-3">Save to my library</h4>
            <form action="/save_pdf" method="post">
              <!-- store pdf id in hidden field to be able to retrieve -->
              <input type="hidden" name="pdf_id" value="<%= @pdf_id %>" class="form-control form-control-sm">
              <!-- pdf title -->
              <div class="form-group row align-items-center">
                <label for="title_box" class="col-sm-3 col-form-label tight-label">Article title</label>
                <div class="col-sm-9 tight-input">
                  <input type="text" id="title_box" name="pdf_title" class="form-control form-control-sm">
                </div>
              </div>
              <!-- first dropdown-- tag title with "Enter New" option -->
              <div class="form-group row align-items-center">
                <label for="tag-name-dropdown" class="col-sm-3 col-form-label tight-label">Article tag</label>
                <div class="col-sm-9">
                  <select id="tag-name-dropdown" name="tag_name" onchange="checkEnterNew(this)" class="form-control form-control-sm tight-input">
                    <% @list_of_tags.each do |a_tag| %>
                      <option value="<%= a_tag.name %>"><%= a_tag.name %></option>
                    <% end %>
                    <option disabled selected>Select existing tag or enter new</option>
                    <option value="enterNew">Enter new:</option>
                  </select>
                  <input type="text" id="newOption" name="new_tag_name" style="display:none;" class="form-control form-control-sm tight-input">
                </div>
              </div>
              <!-- second dropdown-- tag color without "Enter New" option -->
              <div class="form-group row align-items-center">
                <label for="tag-color-dropdown" class="col-sm-4 col-form-label tight-label">Article tag color</label>
                <div class="col-sm-8">
                  <select id="tag-color-dropdown" name="tag_color" class="form-control form-control-sm tight-input">
                      <option disabled selected>Select color</option>
                      <option value="purple">Purple</option>
                      <option value="chocolate">Orange</option>
                      <option value="steelblue">Blue</option>
                      <option value="darkseagreen">Green</option>
                      <option value="salmon">Salmon</option>
                  </select>
                </div>
              </div>
              <button type="submit" class="btn summary-button btn-lg"> Save </button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  
  </div>
</div>

<script>
  function checkEnterNew(selectElement) {
    var newOptionField = document.getElementById('newOption');
    newOptionField.style.display = (selectElement.value === 'enterNew') ? 'inline-block' : 'none';
  }
</script>
