<div class="container mt-4">

  <h2 class="text-center mb-3">
    New Summary
  </h2>

  <!--UPLOAD PDFs here-->
  <div class="d-flex">
    <!--enter pdf link form-->
    <div class="mb-3">
      <form action="/create_summary" method="post" id="pdfUrlForm">
        <label for="url_box">Enter PDF URL</label>
        <input type="url" id="url_box" name="pdf_url" placeholder="https://example.com" value="<%= @pdf_url %>">
        <button type="sumbit" class="btn btn-outline-dark btn-sm">Get summary</button>
      </form>
    </div>

    <div class="my=2 mx-3">
      <p>or</p>
    </div>

    <!--upload pdf file form-->
    <div class="mr-3">
      <form action="/get_summary" method="post" enctype="multipart/form-data" id="pdfForm">
          <label for="pdf_file">upload file</label>
          <input type="file" id="pdf_file" name="pdf_file" accept=".pdf">
          <button type="submit" class="btn btn-outline-dark btn-sm">Get summary</button>
      </form>
    </div>
  </div>

  <!--Empty read-only text box for summary-->
  <!-- 
      make this change based on param values so you can render the same page 
      so, you'd add an ifelse to check it the param values are empty. if they are,
      then just display the read only box. if they are not (i.e. user has input a pdf
      link) then display the contents in a new textbox, and this will happen every time the
      get summary button is clicked. 
  -->

  <% if @pdf_url.present? %>
    <div class="text-center mb-3">
      <textarea rows="9" style="width: 100%;" id="summary_textbox" readonly name="summary_text">
        <%= @pdf_id%>
        <%= @pdf_url%>
        <%= @extracted_text %> <!-- this is not working -->
      </textarea>
    </div>
  <% else %>
    <div class="text-center mb-3">
      <textarea rows="9" style="width: 100%;" id="summary_textbox" readonly name="summary_text" placeholder="Summary will be displayed here..."></textarea>
    </div>
  <% end %>

  <!-- SAVE PDF + TAGS -->
  <div class="text-center mb-3">
    <form action="/update_pdf" method="post">
      <!-- store pdf id in hidden field to be able to retrieve -->
      <input type="hidden" name="pdf_id" value="<%= @pdf_id %>">

      <!-- pdf title -->
      <label for="title_box">PDF Title</label>
      <input type="text" id="title_box" name="pdf_title">
      <br>

      <!-- first dropdown-- tag title with "Enter New" option -->
      <label for="tag-name-dropdown">Topic tag:</label>
      <select id="tag-name-dropdown" name="tag_name" onchange="checkEnterNew(this)">
        <% @list_of_tags.each do |a_tag| %>
          <option value="<%= a_tag.name %>"><%= a_tag.name %></option>
        <% end %>
        <option value="enterNew">Enter New:</option>
      </select>

      <!-- input field for manual entry, initially hidden -->
      <input type="text" id="newOption" name="new_tag_name" style="display:none;">
      <br>

      <!-- second dropdown-- tag color without "Enter New" option -->
      <label for="tag-color-dropdown">Topic tag color:</label>
      <select id="tag-color-dropdown" name="tag_color">
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="orange">Orange</option>
          <option value="purple">Purple</option>
      </select>
      <br>
      <button type="submit" class="btn btn-outline-dark btn-lg"> Save </button>
    </form>
  </div>

</div>

<script>
  function checkEnterNew(selectElement) {
    var newOptionField = document.getElementById('newOption');
    newOptionField.style.display = (selectElement.value === 'enterNew') ? 'inline-block' : 'none';
  }
</script>
