<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-hm36k/ATqgMQ5lA+dL+3p3WSqKZZSeXbZgQxQlXkRSJoZPkrR8ypkzfdPqM1dZ2N" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <% if current_user != nil %>
        <div class="d-flex">
          <a href="/users/sign_out" class="text-white">Sign Out</a>
          <div class="mx-2 text-white">|</div>
          <a href="/users/edit_profile" class="text-white">Edit Profile</a>
        </div>
      <% else %>
        <div class="d-flex">
          <a href="/users/sign_up" class="text-white">Sign Up</a>
          <div class="mx-2 text-white">|</div>
          <a href="/users/sign_in" class="text-white">Sign in</a>
        </div>
      <% end %>
    </nav>

    <% if notice.present? %>
      <div style="color: green">
        <%= notice%>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= notice%>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
