<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.css">   
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid">
        <% if current_user != nil %>
          <div class="navbar-nav me-auto">
            <a href="/" class="nav-link btn btn-sm" style="color: white; font-weight: bold;">My Library</a>
            <a href="#" class="nav-link btn btn-sm" data-bs-toggle="modal" data-bs-target="#instructionModal">Help</a>
          </div>
          <div class="navbar-nav ms-auto">
            <a href="/users/sign_out" class="nav-link btn btn-sm">Sign Out</a>
          </div>
        <% else %>
          <div class="navbar-nav me-auto">
            <a href="/" class="nav-link btn btn-sm" style="color: white; font-weight: bold;">My Library</a>
          </div>
          <div class="navbar-nav ms-auto">
            <a href="/users/sign_up" class="nav-link btn btn-sm">Sign Up</a>
            <a href="/users/sign_in" class="nav-link btn btn-sm">Sign in</a>
          </div>
        <% end %>
      </div>
    </nav>
    
    <!-- help Modal -->
    <div class="modal fade" id="instructionModal" tabindex="-1" aria-labelledby="instructionModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="instructionModalLabel">How to use the app</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Insert your instructions here -->
            <h6>My Library</h6>
            <p>This is the app's homepage, where all your saved PDF summaries and their respective tags will appear in list form.</p>
            <h6>Create new summary</h6>
            <p>To summarize a PDF, click on the <span class="btn btn-sm btn-outline-dark", style="cursor: default;"> + Add New Summary</span> 
            button. This will take you to the New summary page, where you can provide the link to the online PDF.</p>
            <p>Click on <span class="btn summary-button btn-sm", style="cursor: default;">Get Summary</span> to see the summary displayed on the summary area. If you wish to save to your library, provide a title for your PDF article, give it a tag name and color, and hit <span class="btn summary-button btn-sm", style="cursor: default;">Save</span>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <% if notice.present? %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>

    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
  </body>
</html>
